/***** Import bootstrap *****/
@import '/node_modules/bootstrap/scss/bootstrap.scss';

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6, navbar, nav, .btn {
  font-family: var(--font-rubik), sans-serif;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
}

.btn {
  line-height: 1.3;
}

header h1 {
  font-size: 7vmax;
}

header h2 {
  font-size: 5vmax;
}

header h3 {
  font-size: 3vmax;
}

header h6 {
  color: var(--bs-gray-900);
  background-color: var(--bs-white);
  display: inline-block;
  padding: 0.2rem 0.4rem;
}

/* LINKS */

p a:link, p a:visited, p a:hover, p a:active {
  font-weight: 600;
}

a.dropdown-item:link, a.dropdown-item:visited, a.dropdown-item:hover, a.dropdown-item:active, a.dropdown-item i {
  color: bs var(--bs-primary);
}

header a:link, header a:visited, header a:hover, header a:active, main a:link, main a:visited, main a:hover, main a:active {
  color: var(--bs-white);
}

footer svg {
  color: var(--bs-black);
}

footer svg:hover {
  color: var(--bs-gray-dark);
}

/* HEADER, MAIN */

header {
  background-color: var(--bs-black);
  color: var(--bs-white);
  font-size: 18px;
}

main {
  background-color: var(--bs-gray-900);
  color: var(--bs-white);
  font-size: 18px;
}

main h3.position-sticky {
  background-color: var(--bs-gray-900);
  color: var(--bs-white);
  top: 74px;
}

/* SEARCH */

main #search {
  background-color: var(--bs-pink);
  color: var(--bs-white);
  min-height: 250px;
  scroll-margin-top: 50px;
}

main #search a:link, main #search a:visited, main #search a:hover, main #search a:active {
  color: var(--bs-white);
}

div.alert {
  margin-left: 12px;
  margin-right: 12px;
}

/* INFO AREA */

#info-area {
  scroll-margin-top: 100px;
}

.info-area {
  background-color: lightyellow;
  color: var(--bs-black);
  padding: 1rem 1rem 0.1rem 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.info-area a:link, .info-area a:visited, .info-area a:hover, .info-area a:active {
  color: var(--bs-black);
}

/* SHARE ACTIONS BOX */

#share-actions {
  scroll-margin-top: 75px;
}

/* ABOUT PAGE ANCHORS */

#missing-elections, #info-we-need {
  scroll-margin-top: 100px;
}

/* FOOTER */

footer {
  background: var(--bs-gray-100);
}

/* COUNCILS */

a.council:link, a.council:visited, a.council:hover, a.council:active {
  color: var(--bs-white);
  background-color: var(--bs-gray-900);
  text-decoration: none;
  display: inline-block;
  padding: 4px 16px;
  border-radius: var(--bs-border-radius-pill)!important;
}

a.council:hover {
  background-color: var(--bs-gray-800);
}

/* PARTIES */

h3.party {
  font-size: 4.5vmax;
  font-weight: 900;
  text-transform: uppercase;
}

h3.party-labour, h3.party-lab {
  color: var(--bs-red);
}

h3.party-libdem, h3.party-lib {
  color: var(--bs-orange);
}

h3.party-green, h3.party-grn {
  color: var(--bs-green);
}

h3.party-conservative, h3.party-con {
  color: var(--bs-blue);
}

h3.party-none {
  color: var(--bs-gray-600);
}

a span.party {
  display: inline-block;
  margin-left: 0.3rem;
  width: 1.75rem;
  text-align: center;
  border-radius: var(--bs-border-radius-pill)!important;
}

ul.list-of-councils, ul.list-of-wards, ul.list-of-constituencies {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
  color: var(--bs-white);
}

ul.list-of-councils a:link, ul.list-of-councils a:visited, ul.list-of-councils a:active {
  text-decoration: none;
  display: inline-block;
  border-radius: var(--bs-border-radius-pill)!important;
  padding: 0.1rem 0.8rem;
}

ul.list-of-constituencies a:link, ul.list-of-constituencies a:visited, ul.list-of-constituencies a:active {
  text-decoration: none;
  display: inline-block;
  border-radius: var(--bs-border-radius-pill)!important;
  padding: 0.1rem 0.8rem;
}

ul.list-of-wards li, ul.list-of-councils li, ul.list-of-constituencies li {
  margin-bottom: 0.5rem;
}

a span.party-labour, a span.party-lab,
.list-of-councils a.party-labour, .list-of-councils a.party-lab,
.list-of-constituencies a.party-labour, .list-of-constituencies a.party-lab {
  background-color: var(--bs-red);
}

a span.party-libdem, a span.party-lib,
.list-of-councils a.party-libdem, .list-of-councils a.party-lib,
.list-of-constituencies a.party-libdem, .list-of-constituencies a.party-lib {
  background-color: var(--bs-orange);
}

a span.party-green, a span.party-grn,
.list-of-councils a.party-green, .list-of-councils a.party-grn,
.list-of-constituencies a.party-green, .list-of-constituencies a.party-grn {
  background-color: var(--bs-green);
}

a span.party-conservative, a span.party-con,
.list-of-councils a.party-conservative, .list-of-councils a.party-con,
.list-of-constituencies a.party-conservative, .list-of-constituencies a.party-con {
  background-color: var(--bs-blue);
}

a span.party-none, .list-of-councils a.party-none, .list-of-constituencies a.party-none {
  background-color: var(--bs-gray-700);
}

ul.list-of-wards a:link, ul.list-of-wards a:visited, ul.list-of-wards a:active {
  text-decoration: none;
}

a.party:hover {
  filter: brightness(110%);
}

/* OLD PARTIES CLASSES */

// .party-labour, .party-lab {
//   background-color: var(--bs-red);
// }
//
// .party-libdem, .party-lib {
//   background-color: var(--bs-orange);
// }
//
// .party-green, .party-grn {
//   background-color: var(--bs-green);
// }
//
// .party-conservative, .party-con {
//   background-color: var(--bs-link-hover-color);
// }
//
// .party-none {
//   background-color: var(--bs-gray-700);
// }
//
// // 2-party gradients...
//
// .party-lab-lab {
//   background-color: var(--bs-red);
// }
// .party-lab-lib {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-orange));
// }
// .party-lab-grn {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-green));
// }
// .party-lab-none {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-gray-700));
// }
//
// .party-lib-lib {
//   background-color: var(--bs-orange);
// }
// .party-lib-lab {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-red));
// }
// .party-lib-grn {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-green));
// }
// .party-lib-none {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-gray-700));
// }
//
// .party-grn-grn {
//   background-color: var(--bs-green);
// }
// .party-grn-lab {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-red));
// }
// .party-grn-lib {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-orange));
// }
// .party-grn-none {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-gray-700));
// }
//
// .party-none-none {
//   background-color: var(--bs-gray-700);
// }
//
// // 3-party gradients
//
// .party-lab-lab-lab {
//   background-color: var(--bs-red);
// }
// .party-lab-lab-lib {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-red), var(--bs-orange));
// }
// .party-lab-lab-grn {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-red), var(--bs-green));
// }
// .party-lab-lab-none {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-red), var(--bs-gray-700));
// }
// .party-lab-lib-lib {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-orange), var(--bs-orange));
// }
// .party-lab-lib-grn {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-orange), var(--bs-green));
// }
// .party-lab-lib-none {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-orange), var(--bs-gray-700));
// }
// .party-lab-grn-lib {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-green), var(--bs-orange));
// }
// .party-lab-grn-grn {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-green), var(--bs-green));
// }
// .party-lab-grn-none {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-green), var(--bs-gray-700));
// }
// .party-lab-none-none {
//   background-image: linear-gradient(to right, var(--bs-red), var(--bs-gray-700), var(--bs-gray-700));
// }
//
// .party-lib-lib-lib {
//   background-color: var(--bs-orange);
// }
// .party-lib-lib-lab {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-orange), var(--bs-red));
// }
// .party-lib-lib-grn {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-orange), var(--bs-green));
// }
// .party-lib-lib-none {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-orange), var(--bs-gray-700));
// }
// .party-lib-lab-lab {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-red), var(--bs-red));
// }
// .party-lib-lab-grn {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-red), var(--bs-green));
// }
// .party-lib-lab-none {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-red), var(--bs-gray-700));
// }
// .party-lib-grn-lab {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-green), var(--bs-red));
// }
// .party-lib-grn-grn {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-green), var(--bs-green));
// }
// .party-lib-grn-none {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-green), var(--bs-gray-700));
// }
// .party-lib-none-none {
//   background-image: linear-gradient(to right, var(--bs-orange), var(--bs-gray-700), var(--bs-gray-700));
// }
//
// .party-grn-grn-grn {
//   background-color: var(--bs-green);
// }
// .party-grn-grn-lab {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-green), var(--bs-red));
// }
// .party-grn-grn-lib {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-green), var(--bs-orange));
// }
// .party-grn-grn-none {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-green), var(--bs-gray-700));
// }
// .party-grn-lab-lab {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-red), var(--bs-red));
// }
// .party-grn-lab-lib {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-red), var(--bs-orange));
// }
// .party-grn-lab-none {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-red), var(--bs-gray-700));
// }
// .party-grn-lib-lab {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-orange), var(--bs-red));
// }
// .party-grn-lib-lib {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-orange), var(--bs-orange));
// }
// .party-grn-lib-none {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-orange), var(--bs-gray-700));
// }
// .party-grn-none-none {
//   background-image: linear-gradient(to right, var(--bs-green), var(--bs-gray-700), var(--bs-gray-700));
// }
//
// .party-none-none-none {
//   background-color: var(--bs-gray-700);
// }
//
// a.party:link, a.party:visited, a.party:active {
//   text-align: left;
//   color: var(--bs-white);
//   text-decoration: none;
//   display: inline-block;
//   padding: 4px 16px;
//   border-radius: var(--bs-border-radius-pill)!important;
// }
//
// a.party:hover {
//   filter: brightness(110%);
// }
//
// ul.list-of-wards {
//   list-style: none;
//   padding-left: 0;
// }
//
// ul.list-of-wards li {
//   margin-bottom: 0.5rem;
// }

/* BUTTON GROUPS */

.btn-group-vertical .btn {
  margin-bottom: 3px;
  font-weight: 500;
  text-align: left;
}

.fa, .fas, .far, .btn svg, .btn img {
  margin-right: 0.5rem;
  width: 1.2rem;
  display: inline-flex;
  justify-content: center;
  font-weight: 900;
}

.dropdown-toggle::after {
  margin-top: 0.4555em;
  float: right;
}

.btn-pink {
  background-color:#FF66FF;
}

.btn-pink:hover {
  background-color:#FF99FF;
}

@media (max-width: 575px) {
  .btn-pink {
    width: 100%;
  }
}

/* EXTRAS */

@media (min-width: 992px) {
  div.two-columns {
    column-count: 2;
  }
}

@media (min-width: 1400px) {
  div.three-columns {
    column-count: 3;
  }
}
