/***** Customise bootstrap variables before importing bootstrap *****/
$primary: #D63384;
@import '/node_modules/bootstrap/scss/bootstrap.scss';

/***** Set basic background color & font color *****/
body {
  color: #EEEEEE;
  background-color: $gray-800;
}

/***** Force footer to the bottom of the page *****/
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

/**** Angled text highlighting *****/
.highlight {
  position: relative;
}
.highlight::before {
  /* Highlight color */
  background-color: $primary;

  content: "";
  position: absolute;
  width: calc(100% + 12px);
  left: -6px;
  height: 80%;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

/***** Make input placeholders italic *****/
input::-webkit-input-placeholder { /* WebKit browsers */
  font-style: italic;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-style: italic;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-style: italic;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-style: italic;
}
